How to Insert a Single Record
To insert data into the database, we use the INSERT INTO SQL command. Let’s start by inserting a single record into our Students table.

Here’s the basic SQL syntax for inserting a single record:

### INSERT INTO Students (name, age, email) VALUES ('John Doe', 20, 'johndoe@example.com');


However, instead of writing SQL directly in our Python script with hardcoded values, we’ll use parameterized queries to make our code more secure and flexible. Parameterized queries help prevent SQL injection, a common attack where malicious users can manipulate the SQL query by passing harmful input.

### Here’s how we can insert a single record into the Students table using a parameterized query:

In [2]:
import sqlite3

# Use 'with' to open and close the connection automatically
with sqlite3.connect('my_database.db') as connection:
    cursor = connection.cursor()

    # Insert a record into the Students table
    insert_query = '''
    INSERT INTO Students (name, age, email) 
    VALUES (?, ?, ?);
    '''
    student_data = ('Jane Doe', 23, 'jane@example.com')

    cursor.execute(insert_query, student_data)

    # Commit the changes automatically
    connection.commit()

    # No need to call connection.close(); it's done automatically!
    print("Record inserted successfully!")

Record inserted successfully!

# Insert Multiple Records

In [4]:
# Use 'with' to open and close the connection automatically
with sqlite3.connect('my_database.db') as connection:
    cursor = connection.cursor()

    # Insert multiple records using executemany()
    insert_query = '''
    INSERT INTO Students (name, age, email) 
    VALUES (?, ?, ?);
    '''
    
    # List of student records
    student_data = [
        ('Jane Doe', 23, 'jane@example.com'),
        ('John Smith', 21, 'john@example.com'),
        ('Alice Brown', 22, 'alice@example.com'),
        ('Bob Johnson', 24, 'bob@example.com')
    ]

    # Execute batch insertion
    cursor.executemany(insert_query, student_data)

    # Commit automatically due to 'with' statement
    print("Multiple records inserted successfully!")

Multiple records inserted successfully!

# How to Query Data

Now that we’ve inserted some data into our Students table, let’s learn how to retrieve the data from the table. We'll explore different methods for fetching data in Python, including fetchone(), fetchall(), and fetchmany().

To query data from a table, we use the SELECT statement. Here’s a simple SQL command to select all columns from the Students table:

### SELECT * FROM Students;

In [6]:
# Use 'with' to connect to the SQLite database
with sqlite3.connect('my_database.db') as connection:

    # Create a cursor object
    cursor = connection.cursor()

    # Write the SQL command to select all records from the Students table
    select_query = "SELECT * FROM Students;"

    # Execute the SQL command
    cursor.execute(select_query)

    # Fetch all records
    all_students = cursor.fetchall()

    # Display results in the terminal
    print("All Students:")
    for student in all_students:
        print(student)

All Students:
(1, 'Jane Doe', 23, 'jane@example.com')
(2, 'Jane Doe', 23, 'jane@example.com')
(3, 'John Smith', 21, 'john@example.com')
(4, 'Alice Brown', 22, 'alice@example.com')
(5, 'Bob Johnson', 24, 'bob@example.com')

In [13]:
# Fetch one record

### student = cursor.fetchone()

In [ ]:
# Fetch three records
### three_students = cursor.fetchmany(3)

In [12]:
# Challenge 1

### Fetch only one record from the Student table

## Challenge 2

### Fetch 4 records from the Student table

# How to Use pandas for Better Data Presentation
For better data presentation, we can use the pandas library to create a DataFrame from our query results. This makes it easier to manipulate and visualize the data.

In [8]:
import pandas as pd

# Use 'with' to connect to the SQLite database
with sqlite3.connect('my_database.db') as connection:
    # Write the SQL command to select all records from the Students table
    select_query = "SELECT * FROM Students;"

    # Use pandas to read SQL query directly into a DataFrame
    df = pd.read_sql_query(select_query, connection)

# Display the DataFrame
print("All Students as DataFrame:")
print(df)

All Students as DataFrame:
   id         name  age              email
0   1     Jane Doe   23   jane@example.com
1   2     Jane Doe   23   jane@example.com
2   3   John Smith   21   john@example.com
3   4  Alice Brown   22  alice@example.com
4   5  Bob Johnson   24    bob@example.com

# Updating Existing Records

To modify existing records in a database, we use the SQL UPDATE command. This command allows us to change the values of specific columns in one or more rows based on a specified condition.

For example, if we want to update a student's age, the SQL command would look like this:

### UPDATE Students SET age = 21 WHERE name = 'Jane Doe';

In [9]:
# Use 'with' to connect to the SQLite database
with sqlite3.connect('my_database.db') as connection:
    cursor = connection.cursor()

    # SQL command to update a student's age
    update_query = '''
    UPDATE Students 
    SET age = ? 
    WHERE name = ?;
    '''

    # Data for the update
    new_age = 21
    student_name = 'Jane Doe'

    # Execute the SQL command with the data
    cursor.execute(update_query, (new_age, student_name))

    # Commit the changes to save the update
    connection.commit()

    # Print a confirmation message
    print(f"Updated age for {student_name} to {new_age}.")

Updated age for Jane Doe to 21.

# How to Delete Records from the Table

To remove records from a database, we use the SQL DELETE command. This command allows us to delete one or more rows based on a specified condition.

For example, if we want to delete a student named 'Jane Doe', the SQL command would look like this:

### DELETE FROM Students WHERE name = 'Jane Doe';

In [10]:
# Use 'with' to connect to the SQLite database
with sqlite3.connect('my_database.db') as connection:
    cursor = connection.cursor()

    # SQL command to delete a student
    delete_query = '''
    DELETE FROM Students 
    WHERE name = ?;
    '''

    # Name of the student to be deleted
    student_name = 'Jane Doe'

    # Execute the SQL command with the data
    cursor.execute(delete_query, (student_name,))

    # Commit the changes to save the deletion
    connection.commit()

    # Print a confirmation message
    print(f"Deleted student record for {student_name}.")

Deleted student record for Jane Doe.

In [11]:
# Challenge

### Fetch all students and check that the record has been deleted or not