# Where

In [4]:
import sqlite3
with sqlite3.connect('my_database.db') as connection:

    # Create a cursor object
    cursor = connection.cursor()

    # Write the SQL command to select all records from the Students table
    select_query = "SELECT * FROM Students Where age = 21;"

    # Execute the SQL command
    cursor.execute(select_query)

    # Fetch all records
    all_students = cursor.fetchall()

    # Display results in the terminal
    print("All Students:")
    for student in all_students:
        print(student)

All Students:
(3, 'John Smith', 21, 'john@example.com')

In [5]:
with sqlite3.connect('my_database.db') as connection:

    # Create a cursor object
    cursor = connection.cursor()

    # Write the SQL command to select all records from the Students table
    select_query = "SELECT * FROM Students Where name = 'John Smith';"

    # Execute the SQL command
    cursor.execute(select_query)

    # Fetch all records
    all_students = cursor.fetchall()

    # Display results in the terminal
    print("All Students:")
    for student in all_students:
        print(student)

All Students:
(3, 'John Smith', 21, 'john@example.com')

# Primary Key (PK)

A unique identifier for each record in a table.

Ensures no duplicate values and no NULL values.

Each table can have only one primary key (can be a single column or a combination of multiple columns).

Used for fast lookups and indexing.

# Foreign Key (FK)
A column that references the primary key of another table.

Ensures referential integrity (data in the foreign key column must exist in the referenced table).

Helps establish relationships between tables.

A table can have multiple foreign keys.

# Create New Database
### Create two tables to execuet JOIN

In [26]:
# Use 'with' to connect to the SQLite database and automatically close the connection when done
with sqlite3.connect('Students_Records.db') as connection:

    # Create a cursor object
    cursor = connection.cursor()

    # Write the SQL command to create the Students table
    create_table_query = '''
    CREATE TABLE IF NOT EXISTS Module (
        ModuleID INTEGER PRIMARY KEY AUTOINCREMENT,
        ModuleName TEXT NOT NULL,
        age INTEGER,
        email TEXT
    );
    '''

    # Execute the SQL command
    cursor.execute(create_table_query)

    # Commit the changes
    connection.commit()

    # Print a confirmation message
    print("Table 'Module' created successfully!")

Table 'Module' created successfully!

In [27]:
# Use 'with' to connect to the SQLite database and automatically close the connection when done
with sqlite3.connect('Students_Modules.db') as connection:

    # Create a cursor object
    cursor = connection.cursor()

    # Write the SQL command to create the Students table
    create_table_query = '''
    CREATE TABLE IF NOT EXISTS Students (
        StudentID INTEGER PRIMARY KEY AUTOINCREMENT,
        StudentName TEXT NOT NULL, 
        ModuleID INTEGER, 
        FOREIGN KEY(ModuleID) REFERENCES Module(ModuleID)
    );
    '''

    # Execute the SQL command
    cursor.execute(create_table_query)

    # Commit the changes
    connection.commit()

    # Print a confirmation message
    print("Table 'Students' created successfully!")

Table 'Students' created successfully!

In [28]:
with sqlite3.connect('Students_Modules.db') as connection:
    cursor = connection.cursor()

    # Insert multiple records using executemany()
    cursor.executescript(''' 
    INSERT INTO Module(ModuleName) VALUES 
    ("Computer Fundamentals"), 
    ("Calculus"), 
    ("Web Development"), 
    ("Machine Learning"), 
    ("Databases"); 
    
    INSERT INTO Students(StudentName, ModuleID) VALUES 
    ("Student1",1), 
    ("Student1",1), 
    ("Student1",3), 
    ("Student1",2), 
    ("Student1",4), 
    ("Student1",2), 
    ("Student1",2), 
    ("Student1",3), 
    ("Student1",1), 
    ("Student1",1); 
    ''')

In [29]:
with sqlite3.connect('Students_Modules.db') as connection:
    cursor = connection.cursor()
    # Query for INNER JOIN 
    sql = '''SELECT StudentID, StudentName, ModuleName  
    FROM Students  
    INNER JOIN Module 
    ON Students.ModuleID = Module.ModuleID;'''
      
    # Executing the query 
    cursor.execute(sql) 
      
    # Fetching rows from the result table 
    result = cursor.fetchall() 
    for row in result: 
        print(row)

(1, 'Student1', 'Computer Fundamentals')
(2, 'Student1', 'Computer Fundamentals')
(3, 'Student1', 'Web Development')
(4, 'Student1', 'Calculus')
(5, 'Student1', 'Machine Learning')
(6, 'Student1', 'Calculus')
(7, 'Student1', 'Calculus')
(8, 'Student1', 'Web Development')
(9, 'Student1', 'Computer Fundamentals')
(10, 'Student1', 'Computer Fundamentals')